@font-face {
    font-family: 'NorseBold';
    src: url('../assets/Norse-Bold.otf');
    font-weight: 700;
    font-style: normal;
 }
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
}

.side-bar{
    width: 35%;
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    position: relative;
}

.title{
    background: rgba(0,0,0,0.5);    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 25%;
}
.logo{
    padding: 1rem;
    opacity: 1;
    width: 30%;
    height: auto;
}
.odin-text{
    font-family: 'NorseBold';
    font-weight: 900;
    font-size: 72px;
    color:white;
}

.main{
    width: 100%;
}

.main-top{
    background-color: grey;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
}
.main-top p{
    width: 60%;
    margin: 0 0 2.5% 5%;
    font-size: 22px;
    color: #fff;
}
.main-mid{
    background-color: #fff;
    height: 30%;
}
.main-bottom{
    background-color: grey;
    height: 35%;
}